= form_for @merged_section do |f|
  - if @merged_section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@merged_section.errors.count, "error")} prohibited this merged_section from being saved:"
      %ul
        - @merged_section.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
