.flex.flex-col.bg-white
  .flex.items-center.justify-center.flex-1
    .max-w-xl.px-4.py-8.mx-auto.text-center
      %h1.text-2xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl
        Page
        = @page.name
  .flex.items-center.justify-center.flex-1
    %h3.text-xl.font-bold.tracking-tight.text-gray-900
      =link_to "View live" , "/#{@page.name}" , target: @page.name

-@page.sections.each do |section |
  .grid.grid-cols-5.gap-2.m-8{class: (section.index%2)==1 ? 'bg-cyan-50' : 'bg-red-50' }
    .relative.block.border.border-gray-100.p-4
      %h3.mt-4.text-lg.font-bold Section #{section.index + 1} : #{section.header}
      = blue_button( "Up" , section_move_url(section.id , dir: :up) )
      = blue_button( "Down" , section_move_url(section.id , dir: :down) )
      = yellow_button("Edit" , section_path(section.id) )
      = green_button( "Copy" , new_page_section_url(@page.name, template: section.template) )
      = form_tag( section_url(section.id) , {method: :delete  } ) do
        =submit_button( "Delete" , true)
    .relative.block.border.border-gray-100.p-4
      %h3.mt-4.text-lg.font-bold Template
      = link_to(section_select_template_url(section.id)) do
        %p= section.template
        = section_preview(section , class: "w-full object-contain")
    .relative.block.border.border-gray-100.p-4
      %h3.mt-4.text-lg.font-bold Header
      %p= section.header
      %h3.mt-4.text-lg.font-bold Text
      %p= section.text[0..100] + " ..."
    .relative.block.border.border-gray-100.p-4
      - if section.cards?
        %h3.mt-4.text-lg.font-bold #{section.content['cards'].length} Cards
        =link_to section_cards_url(section.id) do
          =card_preview(section , class: "w-full object-contain")
      - else
        = link_to(section_select_image_url(section.id)) do
          %h3.mt-4.text-lg.font-bold Image
          -if section.image
            = image_tag "cms/" + section.image
          -else
            %p No image
    .relative.block.border.border-gray-100.p-4
      %h3.mt-4.text-lg.font-bold Options
      - section.options.each do|name , value|
        %p
          = name
          = value
.grid.grid-cols-2.gap-2.m-8
  .relative.block
    %p
      = green_button( "New Section" , new_page_section_url(@page.name) )
  .relative.block
    %p
      = form_tag( page_url(@page.name) , {method: :delete  } ) do
        =submit_button( "Delete Page" , true)
