- content_for( :merged_menu ) do
  .text-xl.font-bold.text-gray-900
    Page #{link_to @section.page.name, page_sections_url(@section.page.id), class: "underline"}
  .text-xl.text-gray-900
    Select Template for Section #{@section.index} - #{@section.header}

= render "layouts/merged_header"

.grid.grid-cols-4.gap-2.m-8
  - @sections.each do |style|
    .relative.block.border.border-gray-100
      = link_to( section_set_template_path( template: style.template )) do
        =image_tag(style.section_preview , class: "h-56 w-full object-contain lg:h-72")
        = style.header
