.mx-20.flex.h-16.items-center.gap-16
  .text-xl.font-bold.text-gray-900
    Page #{link_to @section.page.name, merged.page_sections_path(@section.page.id), class: "underline"}
  .text-xl.text-gray-900
    Select Style for Section #{@section.index} - #{@section.header}

.grid.grid-cols-4.gap-6.my-10.mx-20
  - @sections.each do |style|
    .border.border-gray-300.rounded-lg.p-2
      = link_to( merged.section_set_template_path( template: style.template )) do
        .font-bold.text-lg.text-center.pb-4= style.header
        =image_tag(style.section_preview , class: "w-full object-contain")
