- content_for( :merged_menu ) do
  .text-xl.font-bold.text-gray-900
    Page #{link_to @section.page.name, page_sections_url(@section.page.id), class: "underline"}
  .text-xl.text-gray-900
    Select Card Template for Section #{@section.index} - #{@section.header}

= render "layouts/merged_header"
.grid.grid-cols-4.gap-6.m-8
  - @cards.each do |style|
    .border.border-gray-300.rounded-lg.p-2
      = link_to( section_set_card_template_path( card_template: style.template )) do
        .font-bold.text-lg.text-center.pb-4= style.header
        =image_tag(style.card_preview , class: "w-full object-contain")
