= render "layouts/merged_header"

.grid.grid-cols-6.gap-2.m-8
  - content_for :hidden do
    = hidden_field_tag :redirect , section_set_image_url(@section.id,image: "NEW")
  = form_tag(merged.images_path, multipart: true) do
    = render "merged/images/new_image"

  -@images.each do |name , image|
    .flex.flex-col.justify-start.border.rounded.border-gray-100.drop-shadow-lg
      .flex.justify-between
        .text-xl.m-2= image.name
        %strong.inline-block.rounded.bg-yellow-50.px-2.py-3.text-md.font-medium
          = aspect_ratio(image)
      .p-2.object-contain
        = link_to( section_set_image_path( image: name)) do
          =image_tag("#{image_root}/#{name}" )
