- content_for( :merged_menu ) do
  = render "sections_pagination" , section: @section

= render "layouts/merged_header"

- template = find_template(@section)
= render( template , section: @section)

.flex.gap-4.m-8.flex-wrap
  .basis-96
    %h3.mt-4.text-lg.font-bold Template  #{@section.template}
    = section_preview(@section , class: "w-full object-contain my-4")
    = yellow_button( "Change Template" , merged.section_select_template_path(@section.id))
    = green_button( "New Section" , merged.new_page_section_path(@section.page.id , template: @section.template) )
    .basis-full.mt-3
      Updated at:
      = distance_of_time_in_words_to_now(@section.updated_at)
    .basis-full.mb-3
      Updated by:
      = @section.updated_by

  .basis-96.image
    = link_to(merged.images_path(section_id: @section.id)) do
      -if @section.image
        %h3.mt-4.text-lg.font-bold Image #{@section.image.name}
        .flex.align-center.justify-between.mb-4
          .text-lg.font-bold.mt-2.mx-2
            = @section.image.size.to_s + "k"
          %strong.inline-block.rounded.bg-yellow-200.px-3.py-1.text-md.font-medium
            = @section.image.aspect_ratio
        = image_for( @section )
      -else
        %h3.mt-4.text-lg.font-bold No Image
    .flex
      .mt-3= yellow_button("Change Image", merged.images_path(section_id: @section.id))
      .mt-3= red_button( "Remove image", merged.section_set_image_path( @section.id  , image: "")) if( @section.image )

  .basis-80.grow.content_update
    = section_form( class: "mx-auto mt-8 mb-0 max-w space-y-4") do
      %label.block
        %h4.text-lg.font-bold Header
        = text_field_tag( :header , @section.header, class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
      %label.block
        %h4.mt-4.text-lg.font-bold Text
        = text_area_tag( :text , @section.text, rows: rows(@section) ,class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
      .mt-4= submit_button("Update")

  - if( @section.has_cards? )
    .basis-full.h-0
    .basis-96
      .mx-3.text-lg.font-bold Card Template #{@section.card_template}
      =card_preview(@section , class: "my-3")
      %p.py-3
        =yellow_button("Change Card Template", merged.section_select_card_template_path(@section.id))

    .basis-96.grow
      %h3.mt-4.text-lg.font-bold #{@section.cards.length} Cards
      -@section.cards.each do |card|
        .mt-4.text-md.font-bold= card.header
        .text-sm #{card.text[0..70]} .....
      %p.p-3
        = yellow_button( "View and Edit Cards" , merged.section_cards_path(@section.id))
        = green_button( "New Card" , merged.new_section_card_path(@section.id) )

  .basis-80.grow
    %h3.mt-4.text-lg.font-bold Options
    = section_form( class: "mx-auto mt-8 mb-0 max-w space-y-4") do
      - @section.option_definitions.each do |option|
        =render "option_form_#{option.type}" , section: @section , option: option
      -if @section.option_definitions.empty?
        %p No options
      -else
        .mt-4= submit_button("Update")
