.mx-20.flex.h-16.items-center.gap-16
  = render "merged/sections/sections_pagination" , section: @section
  .text-xl.text-gray-900
    Cards for Section #{@section.index} -
    = link_to @section.header , merged.section_path( @section.id) , class: "underline"
  = link_to( "New Card" , merged.new_section_card_path(@section.id) , class: "p-2 border border-gray-200 bg-cyan-100 font-bold rounded-lg hover:bg-sky-100")

- template = find_template(@section)
= render( template , section: @section)

- @section.cards.each_with_index do |card , index|
  .flex.gap-8.px-20.py-6.mb-2{class: (card.index%2)==1 ? 'bg-cyan-50' : 'bg-red-50' , id: "card_#{card.id}"}
    .basis-80
      %h3.mt-4.text-lg.font-bold Card #{index + 1}:#{card.header}
      .flex.flex-wrap
        = blue_button( "Up" , merged.card_move_path(card.id , dir: :up) )
        = blue_button( "Down" , merged.card_move_path(card.id , dir: :down) )
        = form_tag( merged.card_path(card.id) , {method: :delete  } ) do
          =submit_button( "Delete" , true)
      .mt-6
        = yellow_button("Change Image" , merged.images_path(card_id: card.id) )
        .basis-full.mt-3
          Updated at:
          = distance_of_time_in_words_to_now(card.updated_at)
        .basis-full.mb-3
          Updated by:
          = card.updated_by
        = red_button("Remove image", merged.card_set_image_path( card.id  , image: "") )

    .basis-80
      = link_to(merged.images_path(card_id: card.id)) do
        -if card.image
          %h3.mt-4.text-lg.font-bold Image #{card.image.name}
          .flex.align-center.justify-between.mb-4
            .text-lg.font-bold.mt-2.mx-2
              = card.image.size.to_s + "k"
            %strong.inline-block.rounded.bg-yellow-200.px-3.py-1.text-md.font-medium
              = card.image.aspect_ratio
          = image_for( card )
        -else
          %h3.mt-4.text-lg.font-bold No image
    .basis-72.grow
      %h3.mt-4.text-lg.font-bold Fields
      = form_tag( merged.card_path(card.id) , {method: :patch  , class: "mx-auto mt-8 mb-0 max-w space-y-4" } ) do
        %label.block
          .text-lg.font-bold Header
          = text_field_tag( :header , card.header, class: "block w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
        %label.block
          .mt-4.text-lg.font-bold Text
          = text_area_tag( :text , card.text, rows: 5 , class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm" )
        =submit_button( "Update")

    .basis-72.grow
      .mt-4.text-lg.font-bold Options
      = form_tag( merged.card_path(card.id) , {method: :patch , class: "mx-auto mt-8 mb-0 max-w space-y-4" }) do
        - card.option_definitions.each do |option|
          .grid.grid-cols-3
            =render "merged/sections/option_form_#{option.type}" , section: card , option: option
        -if card.option_definitions.empty?
          %p No options
        -else
          = submit_button("Update")
