.grid.grid-cols-6.gap-2.m-8
  .relative.block.border.border-gray-100
    %h3.mt-4.text-lg.font-bold Add new image or select (click)
    = form_tag(merged.images_path, multipart: true) do
      = text_field_tag 'filename'
      %h5.mt-4.text-lg.font-bold Name is optional
      %p will be taken from uploaded file
      = hidden_field_tag :redirect , card_set_image_url(@card.id,image: "NEW")
      = file_field_tag 'image_file'
      = submit_button 'Submit'

  -@images.each do |name , image|
    .relative.block.border.border-gray-100
      = link_to( card_set_image_path( image: name)) do
        =image_tag("#{image_root}/#{name}" , class: "h-56 w-full object-contain lg:h-72")
