= form_for @merged_page do |f|
  - if @merged_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@merged_page.errors.count, "error")} prohibited this merged_page from being saved:"
      %ul
        - @merged_page.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
