.overflow-hidden.overflow-x-auto.rounded-lg.border.border-gray-200.m-20
  %table.min-w-full.divide-y.divide-gray-200.text-sm
    %thead.bg-gray-100
      %tr
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            Name
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            First Template
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            Size (Sections)
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          Status
    %tbody.divide-y.divide-gray-200
      - @pages.each do |merged_page|
        %tr
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = link_to merged_page.name , page_sections_path(merged_page.name)
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = merged_page.first_template
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = merged_page.sections.length
          %td.whitespace-nowrap.px-4.py-2
            %strong.rounded.bg-green-100.px-3.text-xs.font-medium.text-green-700{:class => "py-1.5"}
              = link_to 'Sections', page_sections_path(merged_page.name)
            %strong.rounded.bg-amber-100.px-3.text-xs.font-medium.text-amber-700{:class => "py-1.5"}
              = link_to 'Edit', edit_page_path(merged_page.name)

.grid.grid-cols-3.gap-2.m-8
  .relative.block.border.border-gray-100
    = form_tag( pages_url , {method: :post  } ) do
      %label.block
        %h4.text-lg.font-bold Name
        = text_field_tag( :name , params[:name], class: "block w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
      =submit_button( "New Page")
