= render "layouts/merged_header"

.grid.grid-cols-6.gap-4.m-8
  .relative.block.border.border-gray-100
    %h3.mt-4.text-lg.font-bold Add new image
    = form_tag({action: :create}, multipart: true) do
      = text_field_tag 'filename'
      %h5.mt-4.text-lg.font-bold Name is optional
      %p will be taken from uploaded file
      = file_field_tag 'image_file'
      = submit_button 'Submit'
  -@images.each do |name , image|
    .relative.block.border.border-gray-100
      =image_tag("cms/#{name}" , class: "h-56 w-full object-contain lg:h-72")
      .p-3
      %strong.inline-block.bg-yellow-400.px-3.py-1.text-md.font-medium
        = "#{image.size}k"
      %strong.inline-block.bg-yellow-400.px-3.py-1.text-md.font-medium
        = image.created_at.to_date
      %h3.mt-4.text-lg.font-bold
        = image.name
        %strong.inline-block.bg-yellow-400.px-3.py-1.text-xs.font-medium
          =image.type

        %p.mt-2.text-sm.text-gray-700
