- content_for( :merged_menu ) do
  .text-xl.font-bold.text-gray-900
    Image: #{@image.name}

= render "layouts/merged_header"

.flex.justify-center.gap-2
  %p
    .font-bold.mr-2 Name
    = @image.name
  %p
    .mr-2.font-bold Type
    = @image.type
  %p
    .font-bold Size
    = @image.size
  %p
    .font-bold Tags
    = @image.tags
  %p
    .font-bold Ratio
    = @image.ratio.round(2)
    = @image.aspect_ratio
-if @used
  .grid.grid-cols-2.m-20
    %p
      Sections
      =@sections.length
    %p
      Cards
      =@cards.length
    %div
      -@sections.each do |section|
        %p
          = link_to section.header , merged.section_path(section)
          on Page
          = link_to section.page.name , merged.page_sections_path(section.page)
    %div
      -@cards.each do |card|
        %p
          = link_to card.header , merged.section_cards_path(card.section)
          on Page
          = link_to card.section.page.name , merged.page_sections_path(card.section.page)

-else
  .grid.grid-cols-2.m-20
    %div
      %p Not used, you may delete
    %div
      %p
        = form_tag( merged.image_path(@image.id) , {method: :delete  } ) do
          =submit_button( "Delete" , true)

.m-20
  = image_tag(@image.asset_name)
