- content_for( :merged_menu ) do
  .text-xl.font-bold.text-gray-900
    Image: #{@image.name}

  %button.mx-40.hover:bg-cyan-200{class: button_classes }
    =link_to "Copy" , merged.image_copy_path(@image.id)

- if Rails.env.development?
  = javascript_include_tag "merged/vue.js"
-else
  = javascript_include_tag "merged/vue.min.js"

= render "layouts/merged_header"

.flex.m-20
  .left.flex.gap-2.mt-3
    %p
      .mr-2.font-bold Type
      = @image.type
    %p
      .font-bold Size
      = @image.size
    %p
      .font-bold Ratio
      = @image.ratio.round(2)
      = @image.aspect_ratio
  = form_tag( merged.image_path , class: "ml-20 flex" , method: :patch) do
    .font-bold.mt-3.mx-4 Name:
    = text_field_tag( "name" , @image.name, class: "rounded border-gray-200 text-sm shadow-sm")
    .font-bold.mt-3.mx-4 Tags:
    = text_field_tag( "tags" , @image.tags, class: "rounded border-gray-200 text-sm shadow-sm")
    %button.bg-cyan-200.mx-4{class: button_classes } Update



=render "editor" , image: @image
.flex.gap-2.m-20
  -if @used
    .grid.grid-cols-2
      %p
        Sections
        =@sections.length
      %p
        Cards
        =@cards.length
      %div
        -@sections.each do |section|
          %p
            = link_to section.header , merged.section_path(section)
            on Page
            = link_to section.page.name , merged.page_sections_path(section.page)
      %div
        -@cards.each do |card|
          %p
            = link_to card.header , merged.section_cards_path(card.section)
            on Page
            = link_to card.section.page.name , merged.page_sections_path(card.section.page)

  -else
    .grid.grid-cols-2
      %div
        %p Not used, you may delete
      %div
        %p
          = form_tag( merged.image_path(@image.id) , {method: :delete  } ) do
            =submit_button( "Delete" , true)
