- content_for( :merged_menu ) do
  .text-xl.font-bold.text-gray-900
    Changes
  .text-xl.text-gray-900
    Branch
    = @git.current_branch

= render "layouts/merged_header"

.overflow-hidden.overflow-x-auto.rounded-lg.border.border-gray-200.m-20
  %table.min-w-full.divide-y.divide-gray-200.text-sm
    %thead.bg-gray-100
      %tr
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            Change
        -[:Page , :Section , :Card , :Image].each do |element|
          %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
            .flex.items-center.gap-2
              =element
    %tbody.divide-y.divide-gray-200
      -[:add , :edit , :delete].each do |type|
        %tr
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = type.to_s.capitalize
          -[:Page , :Section , :Card , :Image].each do |element|
            %td.whitespace-nowrap.px-4.py-2.text-gray-700
              - changeset(type , element).each do |name|
                %span=name.last

.grid.grid-cols-3.bg-white
  .items-center.justify-center.col-span-2
    .max-w-xl.px-4.py-8.mx-auto.text-center.commit_changes
      = form_tag( merged.changes_commit_path() , {method: :post  } ) do
        %h1.text-2xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl
          Commit changes
        %p.mt-4.text-gray-500
          %label.block
            %h4.text-lg.font-bold Message (short summary of changes)
            = text_field_tag( :message , "", class: "block w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
        =submit_button( "Commit")

  .max-w-xl.px-4.py-8.mx-auto.text-center.reset_changes
    = form_tag( merged.changes_reset_path() , {method: :post  } ) do
      %h1.text-2xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl
        Reset changes
      =submit_button( "Reset" ,true)
