!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Merged CMS
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "merged/merged"
    = javascript_importmap_tags
  %body
    = render "layouts/merged_header"
    = render "layouts/merged_messages"
    = yield
